  section.section.parallax-2 {
    background-image: url(../../../assets/dna2.jpg);
  }
  
section.section.parallax h1 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 48px;
    line-height: 600px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }