<body>

    <section class="section parallax parallax-1">
        <div class="container">
          <h1>Section 1</h1>
        </div>
      </section>

      
<section class="section content">
    <div class="container">
      <h2>Simple title 1</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempus id nunc ut gravida. Vestibulum ac...</p>
      <p>...</p>
      <p>...</p>
      <p>...</p>
    </div>
  </section>

    <app-rosalind></app-rosalind>
    <app-contacts></app-contacts>
</body>