<mat-toolbar color="warn">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div fxHide.xs>
    <a routerLink="/home">
      <mat-icon>home</mat-icon>
    </a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li>
        <a pageScroll [pageScrollDuration]="500" href="#problems">Problems</a>
      </li>
      <li>
        <a pageScroll [pageScrollDuration]="500" href="#contacts">Contacts</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
