<section class="section">
  <div class="container is-fluid">
    <div class="author">
      <img
        data-src="https://cms-assets.tutsplus.com/uploads/users/1885/profiles/20400/profileImage/Tn2cD3Wq_400x400.jpg"
        class="author-image"
        src="https://cms-assets.tutsplus.com/uploads/users/1885/profiles/20400/profileImage/Tn2cD3Wq_400x400.jpg"
        data-was-processed="true">
    </div>
    <div class="author">
      Hristo Dimitrov
    </div>
    <div class="author-info">
      Software developer. Test app.
    </div>
    <div fxLayout="row" fxLayoutAlign="space-evenly">
      <twitter-tweet ></twitter-tweet>
      <twitter-follow ></twitter-follow>
    </div>
  </div>
</section>