<div class="parallax">
  <div style="height:100px;background-color:rgb(247, 217, 217);font-size:small">
    <mat-tab-group>
      <mat-tab label="Rosalind problems">
        <a href="http://rosalind.info/problems/tree-view/" target="_blank">Go to rosalind.info problems</a>
      </mat-tab>
      <mat-tab label="Rosalind solutions">
        <a href="https://github.com/HristoDimitrov91/Python-scripts" target="_blank">Some of the problems solutions</a>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
